.section {
  padding: 80px 0;
  background-color: #fff8e5;
}

.sectionTitle {
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.2;
}

.headTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.write_review {
  background-color: #fcd781;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.reviewsList {
  display: flex;
  gap: 73px;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;

  overflow-x: auto;
  scroll-behavior: smooth;
}

.reviewsList::-webkit-scrollbar {
  display: none;
}

.reviewCard {
  flex: 0 0 320px;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.reviewCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.stars {
  display: flex;
  gap: 5px;
}

.stars img {
  width: 20px;
  height: 20px;
}

.deleteBtn {
  background-color: #a10202;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #ffffff;
  border-radius: 100px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.deleteBtn:hover {
  background-color: #7d0101;
}

.reviewText {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.4;
  color: #333333;
  margin-bottom: 30px;
  white-space: normal;
  overflow-wrap: break-word;
}

.reviewerName {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin-bottom: 4px;
}

.productName {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #333333;
  text-decoration: underline;
}

.arrowsList {
  display: flex;
  gap: 16px;
  margin: 40px 0 0 auto;
  align-items: center;
}

.arrowBtn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fbc74c;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrowBtn:hover {
  transform: scale(1.05);
}

.arrowBtn img {
  width: 16px;
  height: 16px;
}

.arrowsList li:nth-child(2) img {
  transform: rotate(180deg);
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  position: relative;
  top: -50px;
}
