.section {
  padding: 80px 0;
  background-color: #fff8e5;
}

.sectionTitle {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
  line-height: 1.2;
}

.reviewsList {
  display: flex;
  gap: 73px;
  padding-bottom: 20px;
  list-style: none;
  margin: 0;
}

.reviewCard {
  flex: 0 0 320px;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  background-color: transparent;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
}

.stars {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}

.stars img {
  width: 20px;
  height: 20px;
}

.reviewText {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
  margin-bottom: 30px;
}

.reviewerName {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin-bottom: 4px;
}

.productName {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #333333;
  text-decoration: underline;
}

.dotsList {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin-top: 40px;
  align-items: center;
}

.dot {
  border-radius: 50%;
  background-color: #bdbdbd;
  border: none;
  vertical-align: middle;
}

.dotsList li:nth-child(3) .dot {
  width: 14px;
  height: 14px;
  background-color: #000000;
}

.dotsList li:nth-child(2) .dot,
.dotsList li:nth-child(4) .dot {
  width: 8px;
  height: 12px;
}

.dotsList li:nth-child(1) .dot,
.dotsList li:nth-child(5) .dot {
  width: 6px;
  height: 10px;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.arrowsList {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 100;
  align-items: center;
  margin-left: 1220px;
}

.arrowBtn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fbc74c;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: -25px;
}

.arrowBtn:hover {
  transform: scale(1.05);
}

.arrowBtn img {
  width: 16px;
  height: 16px;
}

.arrowsList li:nth-child(2) img {
  transform: rotate(180deg);
}
