.hero {
  background-color: #fef3db;
  padding: 60px 0;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  max-width: 570px;
  flex-shrink: 0;
}

.hero__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  margin: 0 0 16px 0;
}

.hero__description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0 24px 0;
  color: #000;
}

.hero__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero__link {
  width: 110px;
  height: 36px;
  padding: 6px 12px;
  background-color: #fbc74c;
  color: #000;
  border-radius: 100px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}

.hero__linkOutline {
  width: 181px;
  height: 36px;
  padding: 6px 12px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #000;
}

.hero__imageWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero__image {
  width: 100%;
  max-width: 806px;
  height: auto;
  object-fit: cover;
}
