.categorie {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 112px;
  margin-bottom: 112px;
}
.categorie__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 46px;
  font-weight: 700;

  margin-left: 12px;
}
.categorie__div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.categorie__btn {
  background-color: #fbc74c;
  border-radius: 16px;
  width: 158px;
  height: 36px;
}

@media (max-width: 1440px) {
  .categorie__title {
    font-size: 43px;
    margin-left: 11px;
  }
  .categorie__btn {
    width: 141px;
    height: 33px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .categorie__title {
    font-size: 40px;
    margin-left: 10px;
  }
  .categorie__btn {
    width: 100%;
  }
}
