.reviews {
    background-color: #fef3db;
    margin: 0 auto;
}

.reviews_title {
    font-family: "Nunito Sans", sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.01em;
        
}

.reviews_holder {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 40px;
        gap: 120px;
}

.star_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100px;
    margin-bottom: 32px;

}

.card_star {
    width: 19px;
    padding: 1.5px;
}


.reviews_card {
    width: 335px;
}


.reviews_card_text {
    font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.01em;
        margin-bottom: 32px;
        height: 112px;
        width: 416px;
}


.reviews_card_name {
    font-weight: 600;
        font-size: 16px;
        line-height: 150%;
}


.reviews_card_product {
    font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
}