.footer {
    background-color: #FBC74C;
    height: 400px;
    width: 100%;
}

.footer_up {
    display: flex;
    position: relative;
    top: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 175px;
}

.logo_img {
    position: relative;
    bottom: 40px;
    width: 84px;
    height: 36px;
}

.menu_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    gap: 16px;
}
.menu_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subs_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    text-align: start;
    width: 400px;
}
.subs_form {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 20px;
}
.subs_form_button {
    text-align: center;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    height: 30px;
}
.subs_form_input {
    background: none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    padding: 10px;
}

.footer_down {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 200px;
}

.info_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.info_list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
} .info_list a {
    color: initial;
}