.item {
  border-radius: 16px;
  overflow: hidden;
}

.imageWrapper {
  border-radius: 16px;
  width: 304px;
  height: 228px;
  overflow: hidden;
  margin-bottom: 16px;
  background-color: #ede8dc;
  aspect-ratio: 1 / 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 0 4px;
  margin-bottom: 16px;
}

.rating {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin: 0 0 2px 0;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #000;
  margin: 0 0 2px 0;
}

.price {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #000;
}
